<%- include("partials/header") %>
  <!-- space for videos -->

  <div class="container">
    <h3 style="padding-top: 5em; ">For more videos subscribe to the youtube channel.</h3>
    <a href="https://www.youtube.com/channel/UC-9ThzaaHNujoS6SA80yd3w/videos"><i class="fa fa-youtube-play" style="font-size:100px;color:red"></i></a>
    <hr>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/2LQrUTSpRZA" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/C5Vu-nhgbOI" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/5DXjmSJYtto" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
      <div class="col-md-6">
        <iframe width="500" height="300" src="https://www.youtube.com/embed/3G9Gs7lhBp4" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>
  </div>


<%- include("partials/footer") %>